# 자료형

1. 정수형 (Integer)
* 양의 정수, 음의정수, 0 포함

In [2]:
#양의 정수
a = 1000
print(a)

1000

In [3]:
#음의 정수
a = -7 
print(a)

-7

In [5]:
#0
a = 0
print(a)

0

2. 실수형 (Real Number)
* 소수점 아래의 데이터를 포함하는 수 자료형

In [6]:
#양의 실수
a = 157.93
print(a)

157.93

In [7]:
#음의 실수
a = -1873.2
print(a)

-1873.2

In [8]:
# 소수부가 0일때 0 생략
a = 5.
print(a)

5.0

In [11]:
# 정수부가 0일때 0 생략
a = -.7
print(a)

-0.7

* Problem: 컴퓨터 시스템은 실수 정보를 표현하는 정확도에 한계를 가짐.

In [12]:
a = 0.3+ 0.6
print(a)

0.8999999999999999

In [13]:
if a == 0.9:
    print(True)
else:
    print(False)

False

* Solution: round()사용하기

In [16]:
a = 0.3 + 0.6
print(round(a, 4))

0.9

In [17]:
if round(a, 4) == 0.9:
    print(True)
else:
    print(False)

True

3. 지수 표현 방식

In [10]:
a = 1e9
b = 734.23e1
c = 2344e-4

print(a)
print(b)
print(c)

1000000000.0
7342.3
0.2344

4. 자료형의 연산
* 덧셈 +
* 뺄셈 -
* 나눗셈
    * 나누기 연산자(/) = 나눠진 결과를 실수형으로 반환
    * 나머지 연산자(%) = 나눗셈의 나머지를 반환
    * 몫 연산자(//) = 나눗셈의 몫을 반환
* 거듭 제곱 연산자(**)

In [18]:
a = 7
b = 3

print( a / b)
print(a % b)
print(a // b)

2.3333333333333335
1
2

In [19]:
a = 5
b = 3

print(a ** b)
print(a ** 0.5)

125
2.23606797749979

5. 리스트 (List)

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:
#인덱싱
print(a[-1])
print(a[-3])

a[3] = 7
print(a)

0
0
[0, 0, 0, 7, 0, 0, 0, 0, 0, 0]

In [23]:
#슬라이싱

a = [ 3, 5, 7, 9 ]

print(a[1:5])

[5, 7, 9]

6. 리스트 컴프리헨션
* 리스트를 초기화 하는 방법
* 대괄호 안에 조건문과 반복문을 적용하여 리스트를 초기화 할 수 있음

In [24]:
array = [i for i in range(10)]
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
array = [i for i in range(20) if i % 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [26]:
array = [i * i for i in range(1, 10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
#2차원 리스트 초기화

#안좋은 예시 ( 리스트 안에 포함된 리스트가 모두 같은 객체로 인식)
m = 3
n = 4
array = [[0] * m] * n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 5, 0], [0, 5, 0], [0, 5, 0], [0, 5, 0]]

In [32]:
# 좋은 예시
array = [[0] * m for _ in range(n)]
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 0, 0], [0, 5, 0], [0, 0, 0], [0, 0, 0]]

7. 리스트 메서드

In [42]:
array = [1, 2, 5, 7, 3, 4]
print(array)

[1, 2, 5, 7, 3, 4]

In [43]:
# 원소 하나 삽입 O(1)
array.append(5)
print(array)

[1, 2, 5, 7, 3, 4, 5]

In [51]:
# 오름차순 정렬 O(NlogN)
array.sort()
print(array)

[1, 2, 3, 3, 4, 5, 5, 7]

In [52]:
# 내림차순 정렬 O(NlogN)
array.sort(reverse=True)
print(array)

[7, 5, 5, 4, 3, 3, 2, 1]

In [53]:
# 원소의 순서를 뒤집어 놓음 O(N)
array.reverse()
print(array)

[1, 2, 3, 3, 4, 5, 5, 7]

In [54]:
# 특정한 인덱스 위치에 원소 삽입 O(N(
array.insert(0, 10)
array.insert(-1, 3)
print(array)

[10, 1, 2, 3, 3, 4, 5, 5, 3, 7]

In [55]:
# 특정한 값을 가지는 데이터의 개수를 셀때 사용 ㅒ(ㅜ)
array.count(3)

3

In [56]:
# 특정한 값을 갖는 원소 제거 O(N)
array.remove(10)
print(array)

[1, 2, 3, 3, 4, 5, 5, 3, 7]

In [57]:
# 특정 값은 원소를 모두 제거
a = [ 1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

8. 문자열 자료형

In [58]:
data = 'Hello World'
print(data)

Hello World

In [59]:
data = "Don't you know \"Python\"?"
print(data)

Don't you know "Python"?

* 문자열 연산

In [61]:
# 덧셈(+) = 연결
a = "Hello"
b = "World"

print(a + " " +b)

Hello World

In [62]:
a = "String"
print(a * 3)

StringStringString

In [63]:
a = "ABCDEF"
print(a[2:4])

CD

9. 튜플
* 리스트와 유사하지만 한 번 선언된 값을 변경할 수 없음
* 소괄호 사용
* 리스트보다 공간 효율적

In [65]:
a = (1, 2, 3, 4)
print(a)

(1, 2, 3, 4)

In [66]:
a[2]=7

TypeError: 'tuple' object does not support item assignment

10. 사전
* 키와 값의 쌍을 데이터로 가지는 자료형
* 순서 상관 X
* 변경 불가능한 자료형을 키로 사용할 수 있음
* 사전 자료형은 해시 테이블을 이용함으로 데이터 검색/수정 = O(1)

In [68]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [69]:
if '사과' in data:
    print("'사과'를 키로 가지는 데이터가 존재합니다")

'사과'를 키로 가지는 데이터가 존재합니다

* 사전 자료형 메서드
    * 키 데이터만 뽑아서 리스트로 keys()
    * 값 데이터만 뽑아서 리스트로 values()

In [73]:
key_list = data.keys()
print(key_list)

dict_keys(['사과', '바나나', '코코넛'])

In [74]:
value_list = data.values()
print(value_list)

dict_values(['Apple', 'Banana', 'Coconut'])

In [75]:
for key in key_list:
    print(data[key])

Apple
Banana
Coconut

11. 집합
* 중복허용 안함
* 순서 없음 --> 인덱싱 불가
* 중괄호 사용, 콤마로 구분

In [77]:
data = set([1, 1, 2, 3, 3, 4, 4, 5])
print(data)

{1, 2, 3, 4, 5}

In [78]:
data = {1, 1, 2, 3, 4, 4, 5}
print(data)

{1, 2, 3, 4, 5}

In [79]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

# 합집합
print(a | b)

# 교집합
print(a & b)

# 차집합
print(a - b)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [80]:
data = {1, 2, 3}
print(data)

{1, 2, 3}

In [81]:
data.add(4)
print(data)

{1, 2, 3, 4}

In [82]:
data.update([5, 6])
print(data)

{1, 2, 3, 4, 5, 6}

In [83]:
data.remove(3)
print(data)

{1, 2, 4, 5, 6}

# 기본 입출력

In [85]:
# 공백을 기준으로 구분된 데이터를 입력 받을때
list (map(int, input().split()))

3 5 6 7

[3, 5, 6, 7]

In [86]:
a, b, c = map(int, input().split())

1 2 3

In [88]:
'''
3
4
0 0 0 0
0 0 0 0
0 0 0 0
'''
n = int(input())
m = int(input())

arr = []

for i in range(n):
    arr.append(list(map(int, input().split())))

3
4
0 0 0 0
0 0 0 0
0 0 0

In [90]:
import sys

data = sys.stdin.readline().rstrip()
print(data)

In [92]:
print(8, end=' ')
print(10)

8 10

In [93]:
a = 1
b = 2
print(a, b)
print(7, end=" ")
print(8, end=" ")

answer = 7
print("정답은 " + str(answer) + "입니다.")

1 2
7 8 정답은 7입니다.

# 조건문

In [94]:
x = 15

if x >= 10:
    print(x)

15

In [95]:
score = 85

if score>=90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

B

### 비교 연산자

In [97]:
x = 1
y = 2

print( x == y)
print( x != y)
print( x > y )
print( x < y)
print( x >= y)
print( x <= y)

False
True
False
True
False
True

### 논리 연산자

In [100]:
x = 1 < 2
y = 1 > 2

print(x and y)
print(x or y)
print (not x)

False
True
False

### 기타 연산자

In [102]:
a = [ 1, 2, 3, 4, 5]
b = 3

print(b in a)
print(b not in a)

True
False

In [103]:
a = 10

if a > 5:
    pass
else:
    print("else")

### 조건문의 간소화

In [104]:
score = 85

if score >= 80: result = "Success"
else: result = "Fail"
    
print(result)

Success

In [106]:
score = 85
result = "Success" if score >= 80 else "Fail"

print(result)

Success

# 반복문
* 반복적으로 실행하고자 할 때
* while
* for

In [109]:
# 1부터 9까지 정수의 합
i = 1
result = 0

while i <= 9:
    result += i
    i += 1
    
print(result)

45

In [110]:
# 1부터 9까지 홀수의 합
i = 1
result = 0

while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1
    
print(result)

25

### for loop

In [112]:
result = 0

for i in range(1, 10):
    result += i
    
print(result)

45

In [113]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격 입니다.")

1 번 학생은 합격 입니다.
2 번 학생은 합격 입니다.
5 번 학생은 합격 입니다.

In [114]:
scores = [90, 85, 77, 65, 97]
cheating_student_list = {2, 4}

for i in range(5):
    if i + 1 in cheating_student_list:
        continue
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격 입니다.")

1 번 학생은 합격 입니다.
5 번 학생은 합격 입니다.

In [115]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i*j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 함수

In [116]:
def add(a, b):
    return a+ b

print(add(3, 7))

10

### 글로벌 키워드
* 글로벌 키워드로 변수를 지정하면 해당 함수에서는 지역 변수를 만들지 않고, 함수 바깥에 선언된 변수를 바로 참조하게 됨

In [117]:
a = 0

def func():
    global a
    a += 1
    
for i in range(10):
    func()
    
print(a)

10

### 여러개의 반환 값

In [119]:
def operator(a, b):
    add_var = a + b
    subtract_var = a - b
    multiply_var = a * b
    divide_var = a / b
    return add_var, subtract_var, multiply_var, divide_var

a, b, c, d = operator(7, 3)
print(a, b, c, d)

10 4 21 2.3333333333333335

### 람다 표현식
* 함수를 간단히 작성 가능
* 특정 기능을 수행하는 함수를 한 줄에 작성할 수 있음

In [121]:
def add(a, b):
    return a + b

print(add(3, 7))

10

In [122]:
print((lambda a, b : a+ b)(3, 7))

10

In [124]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

def my_key(x):
    return x[1]

print(sorted(array, key = my_key))
print(sorted(array, key=lambda x: x[1]))

[('이순신', 32), ('홍길동', 50), ('아무개', 74)]
[('이순신', 32), ('홍길동', 50), ('아무개', 74)]

In [125]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

result = map(lambda a, b: a + b, list1, list2)

print(list(result))

[7, 9, 11, 13, 15]

# 표준 라이브러리

### 내장 함수

In [126]:
result = sum([1, 2, 3, 4, 5])
print(result)

15

In [128]:
min_result = min(7, 2, 4, 3)
max_result = max(7, 2, 4, 3)

print(min_result)
print(max_result)

2
7

In [129]:
result = eval("(3+5)*7")
print(result)

56

In [130]:
result = sorted([9, 1, 8, 5, 4])

reverse_result = sorted([9, 1, 8, 5, 4], reverse=True)

print(result)
print(reverse_result)

[1, 4, 5, 8, 9]
[9, 8, 5, 4, 1]

In [131]:
array = [('홍길동', 50), ('이순신', 32), ('아무개', 74)]

result = sorted(array, key = lambda x: x[1], reverse=True)

print(result)

[('아무개', 74), ('홍길동', 50), ('이순신', 32)]

### 순열 / 조합

In [132]:
# 순열 = 서로 다른 n개에서 서로 다른 r개를 선택하여 일렬로 나열하는것
from itertools import permutations

data = ['A', 'B', 'C']

result = list(permutations(data, 3))

print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [134]:
# 조합 = 서로 다른 n개에서 순서에 상관 없이 서로 다른 r개를 선택하는 것
from itertools import combinations

data = ['A', 'B', 'C']

result = list(combinations(data, 2))

print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [135]:
# 중복 순열 = 2개를 뽑는 모든 순열 (중복 허용)

from itertools import product

data = ['A', 'B', 'C']

result = list(product(data, repeat=2))

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [136]:
# 중복 조합 = 2개를 뽑는 모든 조합 (중복 허용)

from itertools import combinations_with_replacement

data = ['A', 'B', 'C']

result = list(combinations_with_replacement(data, 2))

print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]